*{
  margin: 0px;
  padding: 0px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn1{
  background-color: rgb(0, 162, 255); 
  transition-duration : 1s;
}
.btn1:hover {
   border:none;
   background-color: rgb(131, 201, 20);
   transition-duration: 1s;
}
